<ion-view class="{{m.style}}" view-title="My Page">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button button-clear">
        <i class="icon ion-ios-arrow-back"></i>
      </button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
      <button class="button">注册</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <eh-enroll></eh-enroll>
  </ion-content>
</ion-view>