<div class="{{m.style}} list">
  <label class="item item-input item-stacked-label">
    <span class="input-label" >{{m.common.i18n.page.email}}</span>
    <input type="text" placeholder="john@suhr.com" ng-model="m.email">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label" >{{m.common.i18n.page.password}}</span>
    <input type="password" placeholder="Suhr" ng-model="m.password">
  </label>
  <div class="padding">
    <button class="button button-block button-positive" ng-click="m.doEnroll({username:m.email,password:m.password})">注册</button>
  </div>
</div>