:local(.panel-app){
  .panel-header {
    .lt {
      margin-left: 10px;
      .icon {
        color: white;
        font-size: 20px;
        height: 20px;
      }
    }
    .ct {
      font-size: 17px;
      color: white;
    }
    .rt {
      position: relative;
      margin:{
        right:10px;
      }
      .h {
        border: 1px solid #fff;
        border-radius: 10px;
        width: 20px;
        height: 20px;
        line-height: 17px;
        text-align: center;
      }
      .b {
        position: absolute;
        right: -13px;
        top: 39px;
        width: 130px;
        border-radius: 5px;
        background: white;
        z-index: 100;
        .i {
          color: #333;
          margin-left: 10px;
          margin-right: 10px;
          font-size: 0.8rem;
          &:first-child {
            padding-top: 6px;
            padding-bottom: 3px;
            border-bottom: 1px solid #ddd;
          }
          &:last-child {
            padding-top: 3px;
            padding-bottom: 6px;
          }
          .l {
            margin-right: 10px;
            .icon{
              color:#333!important;
            }
          }
        }
        &:before {
          content: '';
          position: absolute;
          bottom: 100%;
          right: 17px;
          width: 0;
          height: 0;
          border-width: 6px;
          border-style: solid;
          border-color: transparent;
          border-bottom-width: 9px;
          border-bottom-color: currentColor;
          color: white;
        }
      }
    }
  }
}
