<div class="{{m.style}} list">
  <label class="item item-input">
    <span class="input-label">{{m.common.i18n.page.pageUserLogin.username}}</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">{{m.common.i18n.page.pageUserLogin.password}}</span>
    <input type="password">
  </label>
  <div class="padding">
    <button class="button button-block button-positive" ng-click="m.saveLang('en')">{{m.common.i18n.page.pageUserLogin.btnLogin}}</button>
  </div>
</div>