<ion-view class="{{m.style}}" view-title="My Page">
  <ion-header-bar align-title="center" class="bar-positive">
    <div class="buttons">
      <button class="button" ng-click="doSomething()">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons">
      <button class="button" ng-click="m.selectDevice({lists:[3,1,2,4]})">Right Button</button>
    </div>
  </ion-header-bar>
  <ion-content>
    {{m.name}}
    <ul>
      <li ng-repeat="item in m.pageIndexHome.lists">{{item}}</li>
    </ul>
  </ion-content>
  <ion-footer-bar align-title="center" class="bar-assertive">
    <div class="buttons">
      <button class="button">Left Button</button>
    </div>
    <h1 class="title">Title!</h1>
    <div class="buttons" ng-click="doSomething()">
      <button class="button">Right Button</button>
    </div>
  </ion-footer-bar>
</ion-view>